body {
	background-color: brown;
}
div.note {
	display: auto;
	overflow: hidden;
	position: relative;
	#color: navy;
	background-color: yellow;
	box-shadow: 5px 5px 10px -5px black;
	width: 150px;
	height: 150px;
	user-select: none;
}
.trash {
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	bottom: 0px;
	right: 0px;
}
.trash span {
	position: absolute;
	width: 100%;
	visibility: hidden;
}
.trash:hover span{
	visibility: visible;
}
textarea {
	opacity: 50%;
	background-color: yellow;
	height:70%;
	resize: none;
	border: none;
}
.tick {
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	bottom: 0px;
	right: 0px;
}